# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Project environment files
.Renviron

# R Profile files
.Rprofile

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
.Rproj.user/


# specific data files
data/